header,
nav,
main,
footer {
  margin: 0 auto;
  max-width: 87.5rem;
}

/* ------------ HERO ------------ */
// begin main styling
div.hero .info {

  .large {
    font-size: 5rem;
  }

  .small {
    font-size: 2rem;
  }
}