/******************** HEADER  ********************/
.hamburger {display: none;}
header {
  grid-template-columns: 25px auto  44px;
}

/********************  NAVIGATION ********************/
#navWrapper {
  border-bottom: 1px solid $color-grey-90;
}
.navigation {
  display: block;
  
}
.navigation ul {
  position: relative;
  display: flex;
  padding-left: $gutter;
  a {
    border: none;
    border-right: 1px solid $color-grey-90;
  }
}

/* ------------ FOOTER ------------ */
footer div {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  section.social {
    align-items: center;
    justify-content: center;
  }
}